.node-content {
  /* display: inline-block;
  padding: 8px;
  border: solid 1px #ccc;
  border-radius: 8px;
  cursor: pointer !important;
  color: #c4c4c4;
  min-width: 100px;
  padding-right: 20px;
  background: #fff;
  z-index: 20;
  white-space: nowrap; */
  /* position: absolute;
  z-index: 19; */
}

.node-content:hover {
  /* border: solid 1px #5C87FF;
  color: #5C87FF; */
}
