// Config
// support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-blue = #5C87FF
color-background-dark = #001529

// Fonts
font-family-default = PingFangSC-Regular, helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun, sans-serif
font-family-code = Hack, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
font-size = 14px

// Layout
header-height = 64px
sidebar-width = 220px
main-padding = 24px

