@import '_variables'; // preset variables including color, font, etc.
@import '~antd/dist/antd.css'; // Ant Design
@import '_partial/ant-cover';
@import '_partial/operator';
@import '_partial/layout';
@import '_partial/table';
@import '_partial/workflow';
@import '_partial/jsPlumb';
@import 'iconfont/iconfont.css';

body {
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button, input, .ant-input-number, textarea, label, .ant-select-selection, .ant-modal-content {
  border-radius: 0 !important;

  &:focus {
    outline: none !important;
  }
}

.spin {
  margin: 30px;
}

#UNIQUE_ID_OF_ACE_EDITOR {
  width: 100% !important;
  border: 1px solid #d9d9d9;
  font-size: 14px;

  .ace_print-margin-layer {
    display: none !important;
  }

  *, div {
    font-family: font-family-code;
  }
}

.form-title {
  font-weight: normal;
  font-size: 30px;
  margin: 16px 0 30px !important;
}

.form-btn {
  margin-left: 10px;
}

.drawer-log {
  background: #000;
  color: #fff;
  height: 100%;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 10px;
}