.ant-tree-node-content-wrapper-normal {
  display: flex !important;

  > .span {
    // display: inline-flex !important;
  }
}

.ant-tree li span.ant-tree-switcher {
  float: left;
}

.ant-form-item {
  margin-bottom: 12px;
}

.ant-input-disabled, .ant-input-number-disabled, .ant-select-disabled, .ant-menu-item-group-title {
  color: #666 !important;
}