// .error-icon-connect {
//   position: relative;
//   right: -20px;
//   background: orange;
//   border-radius: 20px;
//   display: inline-block;
//   width: 18px;
//   height: 18px;
//   text-align: center;
//   color: #fff;
//   font-size: 14px;
//   line-height: 18px;
//   cursor: pointer;

//   &.green-icon {
//     background: #7ED321;
//   }
// }

// .delete-icon-connect {
//   color: color-blue;
//   background: #fff;
//   border-radius: 50%;
//   font-size: 12px;
//   cursor: pointer;
// }

// .jtk-connector {
//   z-index: z-index-connector;
// }

// .jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
//   opacity: workflow-opacity-anchor;
//   z-index: z-index-endpoint-and-label;
//   cursor: pointer;
// }

// .workflow-node-label {
//   z-index: z-index-endpoint-and-label;
// }

// .workflow-node-delete {
//   z-index: z-index-endpoint-and-label;
// }