.workflow {
  display: flex;

  > div {
    height: 'calc(100vh - %s - 2*%s)' % (header-height main-padding);
    overflow-y: hidden;
  }

  .workflow-operator {
    flex: 1;
    min-width: 260px;
    border: 1px solid #eee;

    .tree {
      height: 100%;
      overflow-y: scroll;

      .draggable-tree-node {
        cursor: move;
      }

      .ant-tree-node-content-wrapper {
        &:hover .draggable-tree-node {
          position: relative;
          top: -2px;
          border: 2px solid color-blue;
          background: #fff;
          padding-left: 5px;
          padding-right: 5px;
          border-radius: 6px;
          box-shadow: 0 2px 4px rgba(0, 0, 255, 0.16), 0 2px 4px rgba(0, 0, 255, 0.23);
        }
      }
    }
  }

  .workflow-stage {
    flex: 3;
    border: 1px solid #eee;
    background: #fff;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=');

    #drop-stage {
      position: relative;

      .stage-toolbar {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        box-shadow: 0 3px 4px #dfe2e8;
        // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
      }
    }
  }

  .workflow-conf {
    flex: 1;
    padding: 20px;
    max-width: 280px;
    min-width: 180px;
    border: 1px solid #eee;
  }

  .workflow-log {
    flex: 1.5;
    border: 1px solid #eee;
    min-width: 280px;
    max-width: 380px;
    padding: 6px 10px;

    .workflow-conf {
      border: none;
      padding: 10px;
      max-width: 100%;
    }
  }
}

.workflow-node {
  display: inline-block;
  padding: 8px;
  border: solid 1px #ccc;
  border-radius: 8px;
  cursor: pointer !important;
  color: workflow-color-unactive;
  min-width: 100px;
  padding-right: 20px;
  background: #fff;
  position: relative;
  z-index: z-index-node;
  white-space: nowrap;

  &:hover, &.active {
    border: solid 1px color-blue;
    color: color-blue;

    .node-meta {
      background: color-blue;
    }

    .dot-rect-top, .dot-rect-bottom {
      border-color: color-blue;
    }
  }

  strong {
    word-break: break-word;

    .node-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: workflow-node-font-size;
      line-height: 20px;
      float: left;
      margin-right: 4px;
    }
  }

  .node-meta {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;
    padding: 6px 4px;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 6px;
    box-sizing: border-box;
    background: workflow-color-unactive;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff;
  }

  .dot-rect-top, .dot-rect-bottom {
    border-bottom: solid 1px workflow-color-unactive;
    border-left: solid 1px workflow-color-unactive;
    border-right: solid 1px workflow-color-unactive;
    background: #fff;
    position: absolute;
    width: 10px;
    height: 4px;
    left: 50%;
    margin-left: -6px;
    z-index: 10;
  }

  .dot-rect-top {
    top: -1px;
  }

  .dot-rect-bottom {
    bottom: -4px;
  }
}